﻿@model Teste.Sequoia.Domain.ViewModels.AutorViewModel

@using (Ajax.BeginForm("", "", null, new { @class = "form-signin", id = "formInputAutor", name = "formInputAutor" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AutorId)

    <div class="row">
        <div class="form-group col-md-3">
            <label class="col-form-label">Nome</label>
            @Html.TextBoxFor(m => m.Nome, new
            {
                @class = "form-control",
                autocomplete = "off"
            })
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnCancelar" onclick="Cancelar();">Cancelar</button>
        <button type="button" class="btn btn-success" id="btnSalvar" onclick="Salvar();">Salvar</button>
    </div>
}