﻿
@{
    ViewBag.Title = "Autor";
}

<script>
    var urlSalvar = '@Url.Action("Salvar", "Autor")';
</script>

<script src="~/Scripts/Views/Autor.js"></script>

@*CABECALHO*@
<div class="row">
    <div class="page-header">
        <h4>Adicionar Autor</h4>
    </div>
</div>

<div class="row">
    <div id="inputPlaceHolder">
        @{ Html.RenderAction("Input", "Autor"); }
    </div>
</div>